{% extends "frame.html" %}
{% block pagetitle %} Successfully Logged Out—Cultural Insight {% endblock %}
{% block content %}
	
	<p>You are now logged out. See you next time!</p>

  <table style="width:100%; text-align:center">
    <tr>
      <td style="width:45%">
        <div id="link-button">
          <a href="/">Home</a>
        </div>
      </td>
      <td style="width:45%">
        <div id="link-button">
          <a href="/login.html">Log In</a>
        </div>
      </td>
    </tr>
  </table>


{% endblock %}
logout.html