{% extends "frame.html" %}
{% block pagetitle %} Registration Successful—Cultural Insight {% endblock %}
{% block content %}

<div style="text-align:left;">
  <img src="/static/images/cultural-insight.svg" style="height:200px; float:right; margin-left:25px; margin-bottom:25px;"/>
  <h2>Registration Successful</h2>

  <p>Great! Your new account has now been created! We hope you look forward to a new events email every week; to start you off, we'll send you one soon.</p>
  
  <p>The Cultural Insight tool, powered by IBM Watson.</p>

  <table style="width:100%; text-align:center">
    <tr>
      <td style="width:45%">
        <div id="link-button">
          <a href="/">Return to Home</a>
        </div>
      </td>
      <td style="width:45%">
        <div id="link-button">
          <a href="/login.html">Log In</a>
        </div>
      </td>
    </tr>
  </table>
</div>

{% endblock %}